<ion-header>
  <ion-toolbar>
    <ion-title>Guardar proveedor</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Nombre del proveedor</ion-label>
    <ion-input [(ngModel)]="nombre" placeholder="Ingresa el nombre del proveedor"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Teléfono</ion-label>
    <ion-input [(ngModel)]="telefono" type="tel" placeholder="Ingresa el teléfono del proveedor"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Domicilio</ion-label>
    <ion-input [(ngModel)]="domicilio" placeholder="Ingresa el domicilio del proveedor"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="guardarProveedor()">Guardar proveedor</ion-button>
</ion-content>
