.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #7f7f7f;
}

#title {
  font-size: 50px;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 35%;
    margin-right: 35%;
    height: 100%;
}

.item {
  margin-bottom: 20px;
}

ion-button {
  --background: #7f7f7f;
}

@media (max-width: 768px) {
  .header {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  #title {
    font-size: 30px;
  }

  #form {
    margin-left: 10%;
    margin-right: 10%;
  }
}