<ion-header [translucent]="true">
  <div class="header">
    <ion-title id="title">Abarrotes <br> ロマン</ion-title>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Abarrotes ロマン</ion-title>
    </ion-toolbar>
  </ion-header>

   <form id="form">
    <ion-item class="item">
      <ion-label position="stacked">Usuario</ion-label>
      <ion-input [(ngModel)]="usuario" name="usuario" type="text" placeholder="Ingresa tu nombre de usuario" required></ion-input>
    </ion-item>

    <ion-item class="item">
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input [(ngModel)]="password" name="password" type="password" placeholder="Ingresa tu contraseña" required></ion-input>
    </ion-item>

    <ion-item class="item">
      <ion-checkbox [(ngModel)]="rememberMe" name="rememberMe">Recordar sesión</ion-checkbox>
    </ion-item>

    <!-- Cambia el evento a click -->
    <ion-button expand="block" type="button" (click)="onLogin()" class="button">Iniciar sesión</ion-button>

    <ion-button expand="block" class="button" (click)="abrirModalRegistro()">Registrarse</ion-button>
  </form>

</ion-content>
