<ion-header [translucent]="true" id="header">
  <ion-title>
    Menú principal
  </ion-title>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Menú principal</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="div-items">
    <div class="menu-item" (click)="goToInventario()">
      <img class="item-img" src="../../assets/img/inventario.png" alt="icono-inventario">
      <h3 class="item-label">INVENTARIO</h3>
    </div>
  </div>
  <div id="div-items">
    <div class="menu-item" (click)="goToVentas()">
      <img class="item-img" src="../../assets/img/ventas.png" alt="icono-inventario">
      <h3 class="item-label">VENTAS</h3>
    </div>
  </div>
  <div id="div-items">
    <div class="menu-item" (click)="goToClientes()">
      <img class="item-img" src="../../assets/img/clientes.png" alt="icono-inventario">
      <h3 class="item-label">CLIENTES</h3>
    </div>
  </div>
  <div id="div-items">
    <div class="menu-item" (click)="goToCompras()">
      <img class="item-img" src="../../assets/img/compras.png" alt="icono-inventario">
      <h3 class="item-label">COMPRAS</h3>
    </div>
  </div>
  <div id="div-items">
    <div class="menu-item" (click)="goToProveedores()">
      <img class="item-img" src="../../assets/img/proveedores.png" alt="icono-inventario">
      <h3 class="item-label">PROVEEDORES</h3>
    </div>
  </div>
  <div id="div-items">
    <div class="menu-item" (click)="goToAjustes()">
      <img class="item-img" src="../../assets/img/ajustes.png" alt="icono-inventario">
      <h3 class="item-label">AJUSTES</h3>
    </div>
  </div>
  <div id="div-items">
    <div class="menu-item" (click)="logout()">
      <img class="item-img" src="../../assets/img/logout.png" alt="icono-inventario">
      <h3 class="item-label">CERRAR SESIÓN</h3>
    </div>
  </div>
</ion-content>
